<div class="tb-position--relative main current" ngClass.xs="xs" ngClass.sm="sm" #animRefView>
    <!-- <div class="tb-position--absolute tb-height--full"> -->
    <!-- <div class="background-bar">

        <div class="tb-container vertical-line-container" fxLayoutAlign="space-between stretch">
            <div class="vertical-lines"></div>
            <div class="vertical-lines"></div>
            <div class="vertical-lines"></div>
        </div>
    </div> -->
    <div class="tb-container tb-position--relative container">
        
    </div>
</div>